
.signUp-button {
    background-color: #1d9bf0 !important;
    border-radius: 50px !important;
    font-size: 17px;
    padding: 3px 22px;
    font-weight: 600;
    width: 300px
}

.signIn-button {
    background-color: white !important;
    border-radius: 50px !important;
    font-size: 17px;
    padding: 3px 22px;
    font-weight: 600;
    width: 300px;
    border-color: #cfd9de;
    color: #1d9bf0 !important
}

.next-button {
    background-color: #1a1919 !important;
    color: white !important;
    border-radius: 50px !important;
    font-size: 17px;
    padding: 3px 22px;
    font-weight: 600;
    width: 300px;
}

.forgot-password-button {
    margin-top: 20px;
    background-color: white !important;
    border-radius: 50px !important;
    font-size: 17px;
    padding: 3px 22px;
    font-weight: 600;
    width: 300px;
    border-color: #cfd9de;
    color: #1a1919 !important
}

.small-white{
    background-color: white !important;
    color: #1a1919 !important;
    font-weight: 600 !important;
    border-radius: 50px !important;
    border: 2px solid #cfd9de !important;
}